{% extends 'base.html' %}

<title>{% block title %}Dashboard{% endblock %}</title>

{% block chart %}
<div class='btn-group btn-group-sm' role='group' aria-label='Basic example'>
  {% for interval in intervals %}
    <button type='button' id='test' class='btn btn-outline-info'>{{interval}}</button>
  {% endfor %}
  {% for time in times %}
    <button type='button' id='test' class='btn btn-outline-success'>{{time}}</button>
  {% endfor %}
</div>
<div class='chart' id='candle_chart'></div>
<div class='chart' id='trade_chart'></div>
{% endblock %}
{% block table %}
<table class='table table-borderless table-sm' id='table_time'></table>
{% endblock %}
{% block center %}
<table class='table table-borderless table-sm' id='table_price'></table>
{% endblock %}
{% block other %}
<ul class="nav nav-pills nav-pills-sm">
  <li class="nav-item">
    <a class="nav-link active" data-toggle="pill" href="#news">News</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#analyse">Analyse</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#crypto">Crypto</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-toggle="pill" href="#other">Other</a>
  </li>
</ul>
{% endblock %}
{% block upright %}
<div class='chart' id='small_chart'></div>
<ul class="nav nav-tabs">     <!--<div class="btn-group">-->
  <li class="nav-item dropdown">
    <a class="nav-link nav-link-sm dropdown-toggle" data-toggle="dropdown" href="#">BTC</a>
    <div class="dropdown-menu">
      <p><input type="search" list="character">
      {% for btc in btc %}
        <a class="dropdown-item" id='test' href="#">{{btc}}</a>
      {% endfor %}
      </p>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link nav-link-sm dropdown-toggle" data-toggle="dropdown" href="#">ETH</a>
    <div class="dropdown-menu">
      <p><input type="search" list="character">
      {% for eth in eth %}
        <a class="dropdown-item" id='test' href="#">{{eth}}</a>
      {% endfor %}
      </p>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link nav-link-sm dropdown-toggle" data-toggle="dropdown" href="#">BNB</a>
    <div class="dropdown-menu">
      <p><input type="search" list="character">
      {% for bnb in bnb %}
        <a class="dropdown-item" id='test' href="#">{{bnb}}</a>
      {% endfor %}
      </p>
    </div>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link nav-link-sm dropdown-toggle" data-toggle="dropdown" href="#">USDT</a>
    <div class="dropdown-menu">
      <p><input type="search" list="character">
      {% for usdt in usdt %}
        <a class="dropdown-item" id='test' href="#">{{usdt}}</a>
      {% endfor %}
      </p>
    </div>
  </li>
</ul>    
<table class='table table-borderless table-sm' id='table_order'></table>
{% endblock %}
{% block scripts %}
<script>
  // Create candlestick chart
  const cand = {{candle_chart | safe}}    
  Plotly.plot('candle_chart', cand, {});
  
  const smal = {{small_chart | safe}}    
  Plotly.plot('small_chart', smal, {});

  const trad = {{trade_chart | safe}}    
  Plotly.plot('trade_chart', trad, {});

  const ttime = {{table_time | safe}}    
  Plotly.plot('table_time', ttime, {});

  const tprice = {{table_price | safe}}    
  Plotly.plot('table_price', tprice, {});

  const torder = {{table_order | safe}}    
  Plotly.plot('table_order', torder, {});

  // Parse url
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const symbol = urlParams.get('symbol')

  // Update chart when change interval
  //const button = document.querySelector('#test');
  document.querySelectorAll('.btn-outline-info').forEach(item => {
    item.addEventListener('click', (e) => {
      e.preventDefault;
      const interval = item.innerHTML;
      $.post('/candles', {
        symbol,
        interval,
      }).done((response) => {
        const candleChart = JSON.parse(response);
        Plotly.react('candle_chart', candleChart, {});
      }).fail(() => {
        console.log("{{ ('Error: Could not contact server.') }}");
      });
    });
  });
  document.querySelectorAll('.btn-outline-success').forEach(item => {
    item.addEventListener('click', (e) => {
      e.preventDefault;
      const time = item.innerHTML;
      $.post('/trades', {
        symbol,
        time,
      }).done((response) => {
        const tradeChart = JSON.parse(response);
        Plotly.react('trade_chart', tradeChart, {});
      }).fail(() => {
        console.log("{{ ('Error: Could not contact server.') }}");
      });
    });
  });
</script>
{% endblock %}
