{% extends 'base.html' %}

<title>{% block title %}Dashboard{% endblock %}</title>

{% block chart %}
<div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
  {% for interval in intervals %}
    <button type="button" id="test" class="btn btn-outline-info">{{interval}}</button>
  {% endfor %}
  {% for time in times %}
    <button type="button" id="test" class="btn btn-outline-success">{{time}}</button>
  {% endfor %}
</div>
<div class="chart" id='candle_chart'></div>
<div class="chart" id='trade_chart'></div>
<div class="chart" id='small_chart'></div>
{% endblock %}
{% block scripts %}
<script>
  // Create candlestick chart
  const cand = {{candle_chart | safe}}    
  Plotly.plot('candle_chart', cand, {});
  
  const smal = {{small_chart | safe}}    
  Plotly.plot('small_chart', smal, {});

  const trad = {{trade_chart | safe}}    
  Plotly.plot('trade_chart', trad, {});
    
  // Parse url
  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const symbol = urlParams.get('symbol')

  // Update chart when change interval
  // const button = document.querySelector('#test');
  document.querySelectorAll('.btn-outline-info').forEach(item => {
    item.addEventListener('click', (e) => {
      e.preventDefault;
      const interval = item.innerHTML;
      $.post('/candles', {
        symbol,
        interval
      }).done((response) => {
        const candleChart = JSON.parse(response);
        Plotly.react('candle_chart', candleChart, {});
      }).fail(() => {
        console.log("{{ ('Error: Could not contact server.') }}");
      });
    });
  });
  document.querySelectorAll('.btn-outline-success').forEach(item => {
    item.addEventListener('click', (e) => {
      e.preventDefault;
      const time = item.innerHTML;
      $.post('/trades', {
        symbol,
        time
      }).done((response) => {
        const tradeChart = JSON.parse(response);
        Plotly.react('trade_chart', tradeChart, {});
      }).fail(() => {
        console.log("{{ ('Error: Could not contact server.') }}");
      });
    });
  });
</script>
{% endblock %}

<!--const graphs = {{trade_chart | safe}}    <div class="chart" id='trade_chart'></div>
Plotly.plot('trade_chart', graphs, {});-->